.item {
    background-color: rgba(171, 245, 204, 0.774);
    border-width: 1px;
    border-style: ridge;
    border-radius: 7px;
  }
  .list {
    margin-top:2%;
    margin-left: 2%;
    margin-right: 2%;
    
  }

  #side-menu21 {
    background: -webkit-linear-gradient(#ffffff, #edeff1,#e0e3e7);
    }

 